#content-image{
    /*background-color:hsla(0, 3%, 14%, 0.456);*/
    margin: 7% 15%;
    /*padding-bottom: 10%;*/
} 
#content_image.image-section{
    vertical-align: top;
    margin: 15px 20px;
    height: 200px;
    width: 300px;
    aspect-ratio: 3/2;/* set aspect ratio so that carousel doesn't change height when flipping */

}
#content_image.car-text{
    padding-right: 400px;
    padding-left: 0%;
}
h3{
    font-size: 2.2rem;
}
    /* Fading animation */
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }      
